@import "./vel-brand-color-palette";

.note {
  // Layout
  position: relative;
  margin-top: 2rem;
  margin-bottom: 1rem;
  padding: 0.5rem;
  // Format
  // Style
  border: 2px solid #3097b9;

  & > *:not(.note__body),
  & > *:not(:last-child) {
    // Layout
    margin-bottom: 0.5rem;
    // Format
    // Style
  }
}

.note__delete {
  // layout
  top: 0.5rem;
  right: 0.5rem;
  // Format
  // Style

  &:hover {
    // Layout
    // Format
    // Style
    color: red;
  }
}

.note__update {
  // Layout
  bottom: 0.5rem;
  right: 0.5rem;
  // Format
  // Style
  background: transparent;

  &:hover {
    // Layout
    // Format
    // Style
    color: $vellow;
  }
}

.note__delete,
.note__update {
  // Layout
  position: absolute;

  height: 1.5rem;
  width: 1.5rem;
  padding: 0;
  // Format
  font-size: 1.5rem;
  // Style
  outline: none;
  border: none;
  cursor: pointer;
}

.note__created,
.note__updated {
  // Layout
  // Format
  font-size: 0.75rem;
  // Style
  color: $dark-light;
}

.note__created {
  // Layout
  // Format
  // Style
}

.note__header {
  // Layout
  margin-bottom: 0.5rem;
  margin-right: 2rem;
  // Format
  // Style
}

.note__body {
  // Layout
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  margin-bottom: 2rem;
  // Format
  // Style
}

.note__cues-title,
.note__notes-title,
.note__summary-title {
  // Layout
  padding-bottom: 0.25rem;
  margin-bottom: 0.25rem;
  // Format
  text-align: center;
  // Style
  border-bottom: 1px solid #3097b9;
}

.note__cues,
.note__notes {
  // Layout
  // Format
  // Style
  border-right: 1px solid #3097b9;
}

.note__cues,
.note__notes,
.note__summary {
  // Layout
  padding: 0 0.5rem;
  // Format
  word-break: break-word;
  // Style
}

.note__title > span,
.note__author > span,
.note__cues-text,
.note__notes-text,
.note__summary-text {
  // Layout
  // Style
  transition: outline 0.3s ease-in-out;

  &:focus {
    // Layout
    // Format
    // Style
    outline: 2px solid $vellow;
  }
}

.note__title {
  // Layout
  // Format
  // Style
}

.note__author {
  // Layout
  // Format
  // Style
}

.note__cues {
  // Layout
  // Format
  // Style
}

.note__cues-title {
  // Layout
  // Format
  // Style
}

.note__cues-text {
  // Layout
  // Format
  // Style
}

.note__notes-title {
  // Layout
  // Format
  // Style
}

.note__notes-text {
  // Layout
  // Format
  // Style
}

.note__summary {
  // Layout
  // Format
  // Style
}

.note__summary-title {
  // Layout
  // Format
  // Style
}

.note__summary-text {
  // Layout
  // Format
  // Style
}
