@import "./notes", "./reset", "./vel-brand-color-palette", "./mixins",
  "./variables";

%form-field {
  min-height: 1.25rem;
  padding: 0.5rem 0.8rem;
  font-size: $font-size;
  outline: none;
  transition: border $animation-speed ease-out;

  &:not(.post-button):focus {
    z-index: 10;
    border: 2px solid $vel-orange;
  }
}

%container {
  display: flex;
  flex-direction: column;
}

html,
body {
  font-size: $font-size;
}

body,
body * {
  font-family: roboto, sans-serif;
  font-weight: $font-weight;
  color: $vel-blue;
  background-color: $dark;
}

label {
  margin-bottom: 0.5rem;
}

.resizer {
  background-color: $vel-blue;
}

.layout {
  display: flex;
  min-height: 100vh;
  height: 100vh;
  max-height: 100vh;
  overflow: hidden;
}

.sidebar,
.note-area {
  padding: 1rem;
  height: calc(100vh - 2rem);
  overflow-y: auto;
}

.sidebar {
  width: $sidebar-width;
  padding-top: calc(2rem + 4px);
  transition: $animation-speed ease-out;

  &.collapsed {
    width: 0;
    padding: 0;
    border-right: none;
    overflow: hidden;
  }

  &.collapsed ~ .note-area {
    margin-left: 4rem;
  }
}

.note-area {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  border-left: 3px solid $vel-blue;

  & > *:not(:last-child) {
    margin-bottom: 1rem;
  }
}

.toggle-sidebar,
.toggle-form,
.post-button {
  font-size: $font-size;
  font-weight: 600;
  color: $light;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
  background-color: $vel-blue;
  transition: background-color $animation-speed ease-out;

  &:hover {
    background-color: $vel-light-blue;
  }
}

.toggle-sidebar {
  position: absolute;
  top: 1rem;
  left: 1rem;
  height: 2rem;
  width: 2rem;
  padding: 0;
  border: 2px solid $vel-orange;
  box-shadow: $drop-shadow-medium;
  align-self: center;
  transition: border-radius $animation-speed ease-out;

  &:hover,
  &.toggled {
    border: 2px solid $vel-orange;
    border-radius: 50%;
  }
}

.toggle-form {
  padding: 1rem;
  font-size: 1.5rem;
  outline: none;
}

.note-form,
.note-content {
  & > *:not(:last-child):not(label) {
    margin-bottom: 1rem;
  }
}

.note-form {
  padding-bottom: 0;
  display: flex;
  flex-direction: column;
  flex: 1;
  transition: height $animation-speed ease-out;

  &,
  & * {
    border-radius: 0.325rem;
    color: $dark;
    background-color: $vel-blue;
  }

  & > *:nth-child(2) {
    margin-top: 1rem;
  }

  & *:not(:nth-child(n - 2)) {
    margin: 0 1rem;
  }

  & *:not(input),
  & *:not(textarea) {
    font-weight: 600;
  }

  & label,
  & input {
    margin: 0 1rem;
  }

  & label {
    margin-bottom: 0.5rem;
  }

  & input,
  & textarea {
    border: 2px solid $vellow;
    background-color: $dark;
    box-shadow: $drop-shadow-heavy;
    transition: background-color $animation-speed ease-out,
      color $animation-speed ease-out;
    color: $vel-orange;

    &:focus {
      background-color: $light;
      color: $dark;
    }
  }

  & > div > div > label {
    margin-left: 0;
    margin-right: 0;
  }

  &.collapsed {
    flex: 0;
    overflow: hidden;
    border: 0;
  }
}

.post-button {
  @extend %form-field;
  color: $light;
}

.note-content {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 0.5rem;
  padding: 0 1rem;
}

.cues-container,
.summary-container {
  justify-self: stretch;
}

.cues-container {
  grid-column: span 1;
  @extend %container;
}

.notes-container {
  grid-column: span 2;
  @extend %container;
}

.summary-container {
  grid-column: span 3;
  @extend %container;
  min-height: 1.5rem;
}

.note-title,
.note-author {
  @extend %form-field;
}

.cues,
.notes,
.summary {
  flex-grow: 1;
  resize: none;
  border: 2px solid $vel-blue;
  @extend %form-field;
}

::-webkit-scrollbar {
  width: 5px;
  margin-right: 0.25rem;
}

::-webkit-scrollbar-track {
  background: $dark;
}

::-webkit-scrollbar-thumb {
  background: $dark-light;
  border-radius: 20px;
}

.no-transition {
  transition: none;
}
